﻿@model TVA_Assessment.Models.Person

@{
    ViewBag.Title = "CRUD";
}

@using (Ajax.BeginForm("CRUD", "Persons", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { @id = "frmEditPerson" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.code)

        <div class="form-group">
            @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surname, "Surname", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_number, "ID No.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.id_number, "", new { @class = "text-danger", @id = "txtIdNo" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="btnSubmit" />
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <h4>Accounts</h4>
    <a href="/Accounts/NewAccount?userId=@Model.code">Add a new account</a>
    <hr />
    <table id="dtAccounts" class="display" style="width:100%"></table>
</div>

<div>
    @Html.ActionLink("Back to List", "Persons","Home")
</div>


<script>
    $(document).ready(function () {
        getAccounts(@Model.code);
    });
    function onSuccess(response)
    {
        var success = response.Success;
        if (success == true) {
            console.log(response);
            window.location.href = "/Home/Persons";
        }
        else {
            alert(response.Message);
        }
    }

    function onFailure() {
        alert(response.Message);
    }
</script>