﻿@model TVA_Assessment.Models.Account

@{
    ViewBag.Title = "GetAccount";
}

@using (Ajax.BeginForm("CRUD", "Persons", new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
            if (Model.closed == false)
            {

            }
            else
            {
                <h4>Account || <span class="text-warning">CLOSED</span></h4>
            }
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.code)
        @Html.HiddenFor(model => model.person_code)


        <div class="form-group">
            @Html.LabelFor(model => model.account_number, "Acc No.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.account_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.outstanding_balance, $"Outstanding balance", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" readonly value="@Model.outstanding_balance" />
            </div>
        </div>

        @if (Model.closed == false)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}

<div class="col-md-12">
    <h4>Transactions</h4>
    @{
        if (Model.closed == false)
        {
            <a href="/Transactions/NewTransaction?accountId=@Model.code">Add a new transaction</a>
        }
    }
    <hr />
    <table id="dtTransactions" class="display" style="width:100%"></table>
</div>

<div>
    <a href="/Persons/CRUD?Id=@Model.person_code">Back to List</a>
</div>  
<script>
    $(document).ready(function () {
        getTransactions(@Model.code)
    });

    function onSuccess(data) {
        console.log(data);
    }

    function onFailure(data) {
        console.log(data);
    }
</script>