﻿@model TVA_Assessment.Models.Account

@{
    ViewBag.Title = "NewAccount";
}

@using (Ajax.BeginForm("CRUD", "Accounts", new AjaxOptions { HttpMethod ="POST", OnSuccess="onSuccess", OnFailure="onFailure" }, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.person_code)

        <div class="form-group">
            @Html.LabelFor(model => model.account_number, "Acc No.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_number, new { htmlAttributes = new { @class = "form-control", @required="required" } })
                @Html.ValidationMessageFor(model => model.account_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div class="col-md-12" id="divTransactions" style="display:none">
    <h4>Transactions</h4>
    <a href="/Transactions/NewTransaction?accountId=@Model.code">Add a new transaction</a>
    <hr />
    <table id="dtTransactions" class="display" style="width:100%"></table>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        var result = loadTransactions(@Model.code);
        if (result == true)
        {
            $("#divTransactions").show();
            loadTransactions(@Model.code);
        }
    });

    function loadTransactions(accountId) {
        if (accountId > 0) {
            return true;
        }
        return false;
    }

    function onSuccess(data) {
        var success = data.Success;
        if (success == true) {
            //go to accounts edit page
            window.location.href = "/Accounts/GetAccount?accountId=" +data.accountId;
        }
        else {
            alert(data.Message);
        }
    }

    function onFailure(data) {
        alert(data.Message)
    }
</script>