﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact Details</h2>
<div>
    
        <address>
            Email: <a href="mailto:sgcinogwacela@gmail.com">sgcinogwacela@gmail.com</a><br>
            Tel: <a href="tel:+27810731696">(081) 073-1696</a>
        </address>
    
</div>