﻿
@{
    ViewBag.Title = "Persons";
}

<h2>Persons</h2>
<a href="/Persons/NewPerson">Add a new person</a>
<hr />

<div class="col-md-12">
    <table id="dtPersons" class="display" style="width:100%"></table>
</div>


<script>
    $(document).ready(function ()
    {
        //Get Persons list
        getPersons();
    });

</script>