﻿@model TVA_Assessment.Models.Transaction
@using TVA_Assessment.Models;
@{
    ViewBag.Title = "GetTransaction";
    var canEdit = false;
    using (var db = new TVAEntities())
    {
        var transactionAcc = db.Accounts.Where(x => x.code == Model.account_code).FirstOrDefault();
        canEdit = (transactionAcc != null && transactionAcc.closed == true ? false : true);
    }
}

@using (Ajax.BeginForm("CRUD", "Transactions", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.code)
        @Html.HiddenFor(model => model.account_code)
        <div class="form-group">
            @Html.LabelFor(model => model.transaction_date, "Transaction date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="text" class="form-control" id="js-date">*@
                @Html.EditorFor(model => model.transaction_date, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "js-date" } })
                @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @id = "txtAmount", @required="required" , @onchange="onChange" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (canEdit)
        { 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        }
    </div>
}

<div>
   @* @Html.ActionLink("Back to List", "GetAccount", "Accounts", new { accountId = Model.account_code })*@
    <a href="/Accounts/GetAccount?accountId=@Model.account_code">Back to List</a>
</div>

<script>
    $(document).ready(function ()
    {
        $('#js-date').datepicker(
            { "endDate": new Date() });

        $('#datepicker').datepicker('update', '@Model.transaction_date');
        var parsed = parseFloat(@Model.amount);
        $('#txtAmount').val(parsed);
    });

     function onSuccess(data) {
        if (data.Success == true) {
            window.location.href = "/Accounts/GetAccount?accountId=" +@Model.account_code;
        }
        else {
            alert(data.Message);
        }
    }

    function onFailure(data) {
        alert(data.Message);
    }

    function onChange() {
        var amt = $('#txtAmount').val();
        if (amt == 0) {

        }
        else {

        }
    }
</script>