﻿@model TVA_Assessment.Models.Transaction

@{
    ViewBag.Title = "NewTransaction";
}

@using (Ajax.BeginForm("CRUD", "Transactions", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.account_code)
        <div class="form-group">
            @Html.LabelFor(model => model.transaction_date, "Transaction date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="text" class="form-control" id="js-date">*@
                @Html.EditorFor(model => model.transaction_date, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "js-date", @required="required" } })
                @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })
            </div>



            @*<div class="input-append date" id="dp3" data-date="" data-date-format="dd-mm-yyyy">
                    <input class="span2" size="16" type="text" value="12-02-2012" id="dtSelectedDate" name="transaction_date">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.amount,"Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description,"Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control",@required="required" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Accounts/GetAccount?accountId=@Model.account_code">Back to List</a>
</div>

<script>

    $(document).ready(function () {
        
        $('#js-date').datepicker({
            "endDate": new Date(),
             "autoclose":true
        });
        $('#js-date').datepicker('update',new Date());
    });

    function onSuccess(data) {
        if (data.Success == true) {
            window.location.href = "/Accounts/GetAccount?accountId=" +@Model.account_code;
        }
        else {
            alert(data.Message);
        }
    }

    function onFailure(data) {
        alert(data.Message);
    }
</script>
